{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Sign in</h1>

<main class="container">
    {{ error }}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post" class="card card-body">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Write your username"
                        id="username" />
                </div>
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Write your Password"
                        id="password" />
                </div>
                <button class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
